fastapi
uvicorn
python-jose[cryptography]
passlib[bcrypt]
bcrypt<4.0
python-multipart
requests
beautifulsoup4
python-dotenv
sqlalchemy>=2.0
aiosqlite
yfinance==0.2.59
pandas
pykrx
celery[redis]
celery[beat]
pytz